<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{film.title}}</title>
</head>
<body>
    <h1>{{film.title}}</h1>
    <img src="{{film.url}}" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, at facere? In aperiam neque odit veritatis, non tempora nobis placeat.</p>
    <button>
        <a href="/films">Go To Back</a>
    </button>
</body>
</html>