<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <form method="post" action="/new">
        <input type="text" placeholder="name" name="userName">
        <input type="number" placeholder="age" name="age">
        <input type="text" placeholder="father" name="father">
        <input type="text" placeholder="mother" name="mother">
        <input type="checkbox" name="married">
        <input type="email" placeholder="email" name="email">
        <input type="password" placeholder="Password" name="password">
        <button type="submit">
            submit
        </button>
    </form>

</body>

</html>