<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{#each films}}
        <h1>{{this.kinoName}}</h1>
        {{!-- <img style="width: 150px; height: 200px" src="{{this.img}}" alt=""> --}}
        <p>{{this.producer}}</p>
        <span>{{this.description}}</span>
        <hr>
    {{/each}}



    <hr>
    <hr>
    <hr>
    <hr>
    <form action="/newKino" method="post">
        <input type="text" placeholder="name" name="kinoName">
        <input type="text" placeholder="img:url" name="img">
        <input type="number" placeholder="year" name="year">
        <input type="text" placeholder="producer" name="producer">
        <input type="text" placeholder="description" name="description">
        <input type="number" placeholder="cost" name="cost">
        <input type="number" placeholder="income" name="income">
        <button type="submit">send</button>
    </form>
</body>
</html>